.elementor-5 .elementor-element.elementor-element-18e1790>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5 .elementor-element.elementor-element-18e1790>.elementor-background-overlay {
    background-color: transparent;
    background-image: url(bgd.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8
}

.elementor-5 .elementor-element.elementor-element-18e1790 {
    padding: 250px 0 150px
}

.elementor-5 .elementor-element.elementor-element-a467f0f>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5 .elementor-element.elementor-element-a467f0f {
    padding: 0 0 15px
}

.elementor-5 .elementor-element.elementor-element-9e8ac9e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-5 .elementor-element.elementor-element-4fd32ac {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor2 );
    --divider-border-width: 2px
}

.elementor-5 .elementor-element.elementor-element-4fd32ac .elementor-divider-separator {
    width: 80px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5 .elementor-element.elementor-element-4fd32ac .elementor-divider {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-e993c5a {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-8856d4a {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-8856d4a>.elementor-widget-container {
    padding: 0 0 50px
}

.elementor-5 .elementor-element.elementor-element-f552c1c {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor2 );
    --divider-border-width: 2px
}

.elementor-5 .elementor-element.elementor-element-f552c1c .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5 .elementor-element.elementor-element-f552c1c .elementor-divider {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-d4dad15>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-5 .elementor-element.elementor-element-81cc9c7 .elementor-icon-wrapper {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-81cc9c7.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor2 );
    color: transparent
}

.elementor-5 .elementor-element.elementor-element-81cc9c7.elementor-view-framed .elementor-icon,.elementor-5 .elementor-element.elementor-element-81cc9c7.elementor-view-default .elementor-icon {
    color: var( --e-global-color-astglobalcolor2 );
    border-color: var( --e-global-color-astglobalcolor2 )
}

.elementor-5 .elementor-element.elementor-element-81cc9c7.elementor-view-framed .elementor-icon,.elementor-5 .elementor-element.elementor-element-81cc9c7.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-astglobalcolor2 )
}

.elementor-5 .elementor-element.elementor-element-81cc9c7.elementor-view-framed .elementor-icon {
    background-color: transparent
}

.elementor-5 .elementor-element.elementor-element-81cc9c7.elementor-view-stacked .elementor-icon svg {
    fill: transparent
}

.elementor-5 .elementor-element.elementor-element-81cc9c7 .elementor-icon {
    font-size: 30px;
    padding: 10px;
    border-width: 0px;
    border-radius: 0 0 0 0
}

.elementor-5 .elementor-element.elementor-element-81cc9c7 .elementor-icon i,.elementor-5 .elementor-element.elementor-element-81cc9c7 .elementor-icon svg {
    transform: rotate(0deg)
}

.elementor-5 .elementor-element.elementor-element-498fd93>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 0 25px
}

.elementor-5 .elementor-element.elementor-element-987d94d {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-987d94d>.elementor-widget-container {
    padding: 0 50px 25px 0
}

.elementor-5 .elementor-element.elementor-element-3e32279 .elementor-button .elementor-align-icon-right {
    margin-left: 20px
}

.elementor-5 .elementor-element.elementor-element-3e32279 .elementor-button .elementor-align-icon-left {
    margin-right: 20px
}

.elementor-5 .elementor-element.elementor-element-3e32279>.elementor-widget-container {
    padding: 45px 0 0
}
/*end*/

.elementor-5 .elementor-element.elementor-element-63132d9 {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-ddb8ed9 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor2 );
    --divider-border-width: 2px
}

.elementor-5 .elementor-element.elementor-element-ddb8ed9 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5 .elementor-element.elementor-element-ddb8ed9 .elementor-divider {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-c9feae5>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-c9feae5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-5 .elementor-element.elementor-element-e53c4fc {
    text-align: right
}

.elementor-5 .elementor-element.elementor-element-6b8aa15 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor2 );
    --divider-border-width: 2px
}

.elementor-5 .elementor-element.elementor-element-6b8aa15 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5 .elementor-element.elementor-element-6b8aa15 .elementor-divider {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-2e373c3>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-5 .elementor-element.elementor-element-2e373c3 {
    padding: 0 0 50px
}

.elementor-5 .elementor-element.elementor-element-955ee89>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-955ee89>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-5 .elementor-element.elementor-element-90f8e9d {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-1e9fcdb {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor2 );
    --divider-border-width: 2px
}

.elementor-5 .elementor-element.elementor-element-1e9fcdb .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5 .elementor-element.elementor-element-1e9fcdb .elementor-divider {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-97c7bfe>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-97c7bfe>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-5 .elementor-element.elementor-element-89fc8e1 {
    text-align: right
}

.elementor-5 .elementor-element.elementor-element-b31c907 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor2 );
    --divider-border-width: 2px
}

.elementor-5 .elementor-element.elementor-element-b31c907 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5 .elementor-element.elementor-element-b31c907 .elementor-divider {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-ffdff24 .elementor-button .elementor-align-icon-right {
    margin-left: 20px
}

.elementor-5 .elementor-element.elementor-element-ffdff24 .elementor-button .elementor-align-icon-left {
    margin-right: 20px
}

.elementor-5 .elementor-element.elementor-element-e601fe8>.elementor-background-overlay {
    background-image: url(https://websitedemos.net/barber-shop-02/wp-content/uploads/sites/231/2018/07/bg-img-04-free-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8
}

.elementor-5 .elementor-element.elementor-element-e601fe8 {
    padding: 150px 0
}

.elementor-5 .elementor-element.elementor-element-ef99b91 {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-6c99be7 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor2 );
    --divider-border-width: 2px
}

.elementor-5 .elementor-element.elementor-element-6c99be7 .elementor-divider-separator {
    width: 80px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5 .elementor-element.elementor-element-6c99be7 .elementor-divider {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-16dbfda {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-16dbfda>.elementor-widget-container {
    padding: 0
}

.elementor-5 .elementor-element.elementor-element-a3eb953 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor2 );
    --divider-border-width: 2px
}

.elementor-5 .elementor-element.elementor-element-a3eb953 .elementor-divider-separator {
    width: 45px;
    margin: 0 auto;
    margin-left: 0
}

.elementor-5 .elementor-element.elementor-element-a3eb953 .elementor-divider {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-23dc552 {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-23dc552>.elementor-widget-container {
    padding: 0
}

.elementor-5 .elementor-element.elementor-element-4f0bb9a {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-4f0bb9a>.elementor-widget-container {
    padding: 75px 30px 50px 0
}

.elementor-5 .elementor-element.elementor-element-b96e6c4>.elementor-element-populated {
    border-style: solid;
    border-width: 0 0 2px;
    border-color: var( --e-global-color-astglobalcolor2 );
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin: 0 15px 0 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px
}

.elementor-5 .elementor-element.elementor-element-b96e6c4>.elementor-element-populated,.elementor-5 .elementor-element.elementor-element-b96e6c4>.elementor-element-populated>.elementor-background-overlay,.elementor-5 .elementor-element.elementor-element-b96e6c4>.elementor-background-slideshow {
    border-radius: 0 0 0 0
}

.elementor-5 .elementor-element.elementor-element-b96e6c4>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-5 .elementor-element.elementor-element-b96e6c4>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 25px
}

.elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-right .elementor-image-box-img {
    margin-left: 25px
}

.elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-left .elementor-image-box-img {
    margin-right: 25px
}

.elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-top .elementor-image-box-img {
    margin-bottom: 25px
}

.elementor-5 .elementor-element.elementor-element-80a1132 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-5 .elementor-element.elementor-element-80a1132 .elementor-image-box-img img {
    opacity: .85;
    transition-duration: .3s
}

.elementor-5 .elementor-element.elementor-element-80a1132:hover .elementor-image-box-img img {
    opacity: 1
}

.elementor-5 .elementor-element.elementor-element-80a1132 .elementor-image-box-wrapper {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-80a1132 .elementor-image-box-title {
    margin-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-e002415>.elementor-element-populated {
    border-style: solid;
    border-width: 0 0 2px;
    border-color: var( --e-global-color-astglobalcolor2 );
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin: 0 15px 0 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px
}

.elementor-5 .elementor-element.elementor-element-e002415>.elementor-element-populated,.elementor-5 .elementor-element.elementor-element-e002415>.elementor-element-populated>.elementor-background-overlay,.elementor-5 .elementor-element.elementor-element-e002415>.elementor-background-slideshow {
    border-radius: 0 0 0 0
}

.elementor-5 .elementor-element.elementor-element-e002415>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-5 .elementor-element.elementor-element-e002415>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 25px
}

.elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-right .elementor-image-box-img {
    margin-left: 25px
}

.elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-left .elementor-image-box-img {
    margin-right: 25px
}

.elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-top .elementor-image-box-img {
    margin-bottom: 25px
}

.elementor-5 .elementor-element.elementor-element-d88dbe2 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-5 .elementor-element.elementor-element-d88dbe2 .elementor-image-box-img img {
    opacity: .85;
    transition-duration: .3s
}

.elementor-5 .elementor-element.elementor-element-d88dbe2:hover .elementor-image-box-img img {
    opacity: 1
}

.elementor-5 .elementor-element.elementor-element-d88dbe2 .elementor-image-box-wrapper {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-d88dbe2 .elementor-image-box-title {
    margin-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-0bc78e3>.elementor-element-populated {
    border-style: solid;
    border-width: 0 0 2px;
    border-color: var( --e-global-color-astglobalcolor2 );
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin: 0 15px 0 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px
}

.elementor-5 .elementor-element.elementor-element-0bc78e3>.elementor-element-populated,.elementor-5 .elementor-element.elementor-element-0bc78e3>.elementor-element-populated>.elementor-background-overlay,.elementor-5 .elementor-element.elementor-element-0bc78e3>.elementor-background-slideshow {
    border-radius: 0 0 0 0
}

.elementor-5 .elementor-element.elementor-element-0bc78e3>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-5 .elementor-element.elementor-element-0bc78e3>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 25px
}

.elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-right .elementor-image-box-img {
    margin-left: 25px
}

.elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-left .elementor-image-box-img {
    margin-right: 25px
}

.elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-top .elementor-image-box-img {
    margin-bottom: 25px
}

.elementor-5 .elementor-element.elementor-element-f4fd305 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-5 .elementor-element.elementor-element-f4fd305 .elementor-image-box-img img {
    opacity: .85;
    transition-duration: .3s
}

.elementor-5 .elementor-element.elementor-element-f4fd305:hover .elementor-image-box-img img {
    opacity: 1
}

.elementor-5 .elementor-element.elementor-element-f4fd305 .elementor-image-box-wrapper {
    text-align: left
}

.elementor-5 .elementor-element.elementor-element-f4fd305 .elementor-image-box-title {
    margin-bottom: 5px
}

.elementor-5 .elementor-element.elementor-element-956f655>.elementor-element-populated {
    border-style: solid;
    border-width: 0 0 2px;
    border-color: #fff;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin: 0 15px 0 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px
}

.elementor-5 .elementor-element.elementor-element-956f655>.elementor-element-populated,.elementor-5 .elementor-element.elementor-element-956f655>.elementor-element-populated>.elementor-background-overlay,.elementor-5 .elementor-element.elementor-element-956f655>.elementor-background-slideshow {
    border-radius: 0 0 0 0
}

.elementor-5 .elementor-element.elementor-element-956f655>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-5 .elementor-element.elementor-element-956f655>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 25px
}

body.elementor-page-5:not(.elementor-motion-effects-element-type-background),body.elementor-page-5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000
}

@media(max-width: 1024px) {
    .elementor-5 .elementor-element.elementor-element-18e1790 {
        padding:275px 25px 135px
    }

    .elementor-5 .elementor-element.elementor-element-4fd32ac .elementor-divider-separator {
        width: 60px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-4fd32ac .elementor-divider {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-8856d4a>.elementor-widget-container {
        padding: 0 0 35px
    }

    .elementor-5 .elementor-element.elementor-element-3e32279>.elementor-widget-container {
        padding: 35px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-209e24a {
        padding: 150px 25px
    }

    .elementor-5 .elementor-element.elementor-element-7021fce .elementor-divider-separator {
        width: 67px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-7021fce .elementor-divider {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-de04ba1 .elementor-divider-separator {
        width: 38px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-de04ba1 .elementor-divider {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-082528c>.elementor-widget-container {
        padding: 75px 35px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-fab2990 {
        padding: 0 0 35px
    }

    .elementor-5 .elementor-element.elementor-element-0e0851d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 35px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-c0f1b29>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 35px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-3660c06 {
        padding: 150px 25px
    }

    .elementor-5 .elementor-element.elementor-element-34738d7 .elementor-divider-separator {
        width: 67px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-34738d7 .elementor-divider {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-4027854 {
        padding: 0 0 50px
    }

    .elementor-5 .elementor-element.elementor-element-3ca9ed6 .elementor-divider-separator {
        width: 38px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-3ca9ed6 .elementor-divider {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-2aa4d08 {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-3bc21b2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 10px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-d91ea0a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 35px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-5a67e03 {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-3fe5caa>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 10px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-0468718>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 35px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-d19237a {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-02c390c>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 10px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-bb2502e>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 35px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-7972e53 {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-a3d7bf8>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 10px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-e813b07>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 35px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-9f77143 {
        padding: 150px 25px
    }

    .elementor-5 .elementor-element.elementor-element-69913c0 .elementor-divider-separator {
        width: 67px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-69913c0 .elementor-divider {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-8f9e48f .elementor-divider-separator {
        width: 38px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-8f9e48f .elementor-divider {
        text-align: left
    }
	
    .elementor-5 .elementor-element.elementor-element-ddb8ed9 .elementor-divider-separator {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-c9feae5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-6b8aa15 .elementor-divider-separator {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-2e373c3 {
        padding: 0 0 50px
    }

    .elementor-5 .elementor-element.elementor-element-955ee89>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-1e9fcdb .elementor-divider-separator {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-97c7bfe>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-b31c907 .elementor-divider-separator {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-e601fe8 {
        padding: 150px 25px
    }

    .elementor-5 .elementor-element.elementor-element-6c99be7 .elementor-divider-separator {
        width: 67px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-6c99be7 .elementor-divider {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-a3eb953 .elementor-divider-separator {
        width: 38px;
        margin: 0 auto;
        margin-left: 0
    }

    .elementor-5 .elementor-element.elementor-element-a3eb953 .elementor-divider {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-4f0bb9a>.elementor-widget-container {
        padding: 75px 35px 50px 0
    }

    .elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-right .elementor-image-box-img {
        margin-left: 10px
    }

    .elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-left .elementor-image-box-img {
        margin-right: 10px
    }

    .elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-80a1132 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-right .elementor-image-box-img {
        margin-left: 10px
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-left .elementor-image-box-img {
        margin-right: 10px
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-right .elementor-image-box-img {
        margin-left: 10px
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-left .elementor-image-box-img {
        margin-right: 10px
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 100%
    }
}

@media(max-width: 767px) {
    .elementor-5 .elementor-element.elementor-element-18e1790 {
        padding:170px 20px 85px
    }

    .elementor-5 .elementor-element.elementor-element-8856d4a>.elementor-widget-container {
        padding: 0 0 35px
    }

    .elementor-5 .elementor-element.elementor-element-f552c1c>.elementor-widget-container {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-d4dad15 {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-bcaa61e {
        width: 20%
    }

    .elementor-5 .elementor-element.elementor-element-81cc9c7 .elementor-icon-wrapper {
        text-align: left
    }

    .elementor-5 .elementor-element.elementor-element-498fd93 {
        width: 80%
    }

    .elementor-5 .elementor-element.elementor-element-498fd93>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-987d94d>.elementor-widget-container {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-3e32279>.elementor-widget-container {
        padding: 40px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-209e24a {
        padding: 100px 20px
    }

    .elementor-5 .elementor-element.elementor-element-f909359>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-8525d8d {
        width: 17%
    }

    .elementor-5 .elementor-element.elementor-element-5a9391f {
        width: 83%
    }

    .elementor-5 .elementor-element.elementor-element-082528c>.elementor-widget-container {
        padding: 50px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-0e0851d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-c0f1b29>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-3660c06 {
        padding: 100px 20px
    }

    .elementor-5 .elementor-element.elementor-element-6ea5592>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-c521df7 {
        width: 17%
    }

    .elementor-5 .elementor-element.elementor-element-4583cd6 {
        width: 83%
    }

    .elementor-5 .elementor-element.elementor-element-3bc21b2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-5723c4d>.elementor-widget-container {
        padding: 0 0 10px
    }

    .elementor-5 .elementor-element.elementor-element-d91ea0a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 15px
    }

    .elementor-5 .elementor-element.elementor-element-e0d472b>.elementor-widget-container {
        padding: 0 0 10px
    }

    .elementor-5 .elementor-element.elementor-element-0468718>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 15px
    }

    .elementor-5 .elementor-element.elementor-element-02c390c>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-7d097a4>.elementor-widget-container {
        padding: 0 0 10px
    }

    .elementor-5 .elementor-element.elementor-element-bb2502e>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 15px
    }

    .elementor-5 .elementor-element.elementor-element-a3d7bf8>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-c944ef1>.elementor-widget-container {
        padding: 0 0 10px
    }

    .elementor-5 .elementor-element.elementor-element-e813b07>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 15px
    }

    .elementor-5 .elementor-element.elementor-element-05775e8>.elementor-widget-container {
        padding: 25px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-9f77143 {
        padding: 100px 20px
    }

    .elementor-5 .elementor-element.elementor-element-a3025b4>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-f21a0aa {
        width: 17%
    }

    .elementor-5 .elementor-element.elementor-element-6b5fd76 {
        width: 83%
    }

    .elementor-5 .elementor-element.elementor-element-c9feae5 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-c9feae5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-955ee89 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-955ee89>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-97c7bfe {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-97c7bfe>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-e601fe8 {
        padding: 100px 20px
    }

    .elementor-5 .elementor-element.elementor-element-0949ca5 {
        width: 17%
    }

    .elementor-5 .elementor-element.elementor-element-2b27b02 {
        width: 83%
    }

    .elementor-5 .elementor-element.elementor-element-4f0bb9a>.elementor-widget-container {
        padding: 50px 0 0
    }

    .elementor-5 .elementor-element.elementor-element-e469fb3 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-b96e6c4>.elementor-element-populated {
        margin: 0 0 50px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-5 .elementor-element.elementor-element-b96e6c4>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 10px
    }

    .elementor-5 .elementor-element.elementor-element-80a1132 .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-right .elementor-image-box-img {
        margin-left: 10px
    }

    .elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-left .elementor-image-box-img {
        margin-right: 10px
    }

    .elementor-5 .elementor-element.elementor-element-80a1132.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-80a1132 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-80a1132>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-e002415>.elementor-element-populated {
        margin: 0 0 50px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-5 .elementor-element.elementor-element-e002415>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 10px
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2 .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-right .elementor-image-box-img {
        margin-left: 10px
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-left .elementor-image-box-img {
        margin-right: 10px
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-d88dbe2>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-0bc78e3>.elementor-element-populated {
        margin: 0 0 50px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-5 .elementor-element.elementor-element-0bc78e3>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 10px
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305 .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-right .elementor-image-box-img {
        margin-left: 10px
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-left .elementor-image-box-img {
        margin-right: 10px
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 100%
    }

    .elementor-5 .elementor-element.elementor-element-f4fd305>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5 .elementor-element.elementor-element-956f655>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-5 .elementor-element.elementor-element-956f655>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
}

@media(min-width: 768px) {
    .elementor-5 .elementor-element.elementor-element-e2b8185 {
        width:50%
    }

    .elementor-5 .elementor-element.elementor-element-9e8ac9e {
        width: 16%
    }

    .elementor-5 .elementor-element.elementor-element-6a28098 {
        width: 84%
    }

    .elementor-5 .elementor-element.elementor-element-bcaa61e {
        width: 10%
    }

    .elementor-5 .elementor-element.elementor-element-498fd93 {
        width: 90%
    }

    .elementor-5 .elementor-element.elementor-element-74ac212 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-f909359 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-30a63c8 {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-98c56cd {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-2213125 {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-458e67c {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-8525d8d {
        width: 10%
    }

    .elementor-5 .elementor-element.elementor-element-5a9391f {
        width: 90%
    }

    .elementor-5 .elementor-element.elementor-element-0e0851d {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-c0f1b29 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-0a66373 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-6ea5592 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-9a92c18 {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-01e1c84 {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-6598061 {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-e263dbc {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-c521df7 {
        width: 10%
    }

    .elementor-5 .elementor-element.elementor-element-4583cd6 {
        width: 90%
    }

    .elementor-5 .elementor-element.elementor-element-3bc21b2 {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-d91ea0a {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-3fe5caa {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-0468718 {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-02c390c {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-bb2502e {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-a3d7bf8 {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-e813b07 {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-b4cc88e {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-a3025b4 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-90b95a3 {
        width: 15%
    }

    .elementor-5 .elementor-element.elementor-element-fdc20fe {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-3026e35 {
        width: 85%
    }

    .elementor-5 .elementor-element.elementor-element-f21a0aa {
        width: 10%
    }

    .elementor-5 .elementor-element.elementor-element-6b5fd76 {
        width: 90%
    }

    .elementor-5 .elementor-element.elementor-element-c9feae5 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-955ee89 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-97c7bfe {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-68da281 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-0949ca5 {
        width: 5%
    }

    .elementor-5 .elementor-element.elementor-element-2b27b02 {
        width: 45%
    }

    .elementor-5 .elementor-element.elementor-element-b1fbd66 {
        width: 50%
    }

    .elementor-5 .elementor-element.elementor-element-6f8e8e0 {
        width: 16.332%
    }

    .elementor-5 .elementor-element.elementor-element-b96e6c4 {
        width: 25%
    }

    .elementor-5 .elementor-element.elementor-element-e002415 {
        width: 25%
    }

    .elementor-5 .elementor-element.elementor-element-0bc78e3 {
        width: 25%
    }

    .elementor-5 .elementor-element.elementor-element-956f655 {
        width: 25%
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-5 .elementor-element.elementor-element-e2b8185 {
        width:65%
    }

    .elementor-5 .elementor-element.elementor-element-f909359 {
        width: 65%
    }

    .elementor-5 .elementor-element.elementor-element-6ea5592 {
        width: 65%
    }

    .elementor-5 .elementor-element.elementor-element-a3025b4 {
        width: 65%
    }

    .elementor-5 .elementor-element.elementor-element-0949ca5 {
        width: 7%
    }

    .elementor-5 .elementor-element.elementor-element-b1fbd66 {
        width: 65%
    }

    .elementor-5 .elementor-element.elementor-element-6f8e8e0 {
        width: 18%
    }

    .elementor-5 .elementor-element.elementor-element-96278e8 {
        width: 17%
    }

    .elementor-5 .elementor-element.elementor-element-b96e6c4 {
        width: 25%
    }

    .elementor-5 .elementor-element.elementor-element-e002415 {
        width: 25%
    }

    .elementor-5 .elementor-element.elementor-element-0bc78e3 {
        width: 25%
    }

    .elementor-5 .elementor-element.elementor-element-956f655 {
        width: 25%
    }
}

@media(min-width: 1025px) {
    .elementor-5 .elementor-element.elementor-element-18e1790>.elementor-background-overlay {
        background-attachment:fixed
    }

    .elementor-5 .elementor-element.elementor-element-209e24a>.elementor-background-overlay {
        background-attachment: scroll
    }

    .elementor-5 .elementor-element.elementor-element-3660c06>.elementor-background-overlay {
        background-attachment: fixed
    }

    .elementor-5 .elementor-element.elementor-element-9f77143>.elementor-background-overlay {
        background-attachment: scroll
    }

    .elementor-5 .elementor-element.elementor-element-e601fe8>.elementor-background-overlay {
        background-attachment: fixed
    }
}
